<footer class="footer">
    <div class="container">
        <div class="footer-content"> 
            <div class="footer-info">
                <h2>Ramiz contact </h2>
                <p><i class="fab fa-whatsapp"></i>Nb Register 213554549118</p>
                <p><i class="far fa-envelope"></i> Email: ramzi@gmail.dz</p>
                <p><i class="fas fa-map-marker-alt"></i> USA</p>
            </div>
            <div class="footer-social">
                <a href="https://facebook.com/" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="https://instagram.com/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://wa.me/" aria-label="WhatsApp"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </div>
    <div class="container">
        <p>Ramzi Entreprise at  ....................... </p>
    </div>

</footer>
